.nina-wrapper {
  font-size: 1rem;
  line-height: 1.2rem;
}

.nina-icon {
  font-size: 2rem;
  margin-right: 12px;
}

.nina-alert {
  display: flex;
  justify-content: space-between;
  color: red;
}

.nina-wrapper .nina-alert.severity-Fine{
  color: #666;
}

.nina-wrapper .nina-alert.severity-Minor{
  color: yellow;
}

.nina-alert .nina-issue-date {
  font-size: 0.8rem;
}

.nina-wrapper p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.nina-theme-top .nina-alert {
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
  background: red;
  color: white;
}

.nina-theme-top .nina-alert.severity-Fine {
  color: #666;
}

.nina-theme-top .nina-alert.severity-Minor {
  background: #f8c0ac;
  color: #8b0000;
}
.nina-theme-top .nina-title  {
  font-size: 1.2em;
  font-weight: bold;
}